body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: black;
    color: white;
}

.cta {
    color: aquamarine;
    font-size: 15px;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}